        table {
          border-spacing: 0;
          border-collapse: collapse;
          width: 100%;
          max-width: 100%;
          margin-bottom: 20px;
        }

	
        td,
        th {
          padding: 0;
        }
        table > thead > tr > th,
        table > tbody > tr > th,
        table > tfoot > tr > th,
        table > thead > tr > td,
        table > tbody > tr > td,
        table > tfoot > tr > td {
          padding: 8px;
          line-height: 1.42857143;
          vertical-align: top;
          border-top: 1px solid #ddd;
        }
        
        .table > thead > tr > th {
          vertical-align: bottom;
          border-bottom: 2px solid #ddd;
        }
        .table > caption + thead > tr:first-child > th,
        .table > colgroup + thead > tr:first-child > th,
        .table > thead:first-child > tr:first-child > th,
        .table > caption + thead > tr:first-child > td,
        .table > colgroup + thead > tr:first-child > td,
        .table > thead:first-child > tr:first-child > td {
          border-top: 0;
        }
        input[type="text"] {
		  width: 100%;
        }

        tbody .code {
            color: #BF0000;
            font-family: Courier New;
            text-align: left;
        }
        
        th {
            text-align: left;
        }
        
        .nvt {
            color: #8A3333;
            background: #FACACA;
            text-align: center;
        }
        
        .left {
            text-align: left;
        }
        
        code {
            background: inherit;
            color: #BF0000;
            font-family: Courier New;
            text-align: center;
        }
        
        .alert-message
        {
            background: #fff;
            margin: 20px 0;
            padding: 1px 1px 1px 5px;
            border-left: 3px solid #eee;
        }
        .alert-message-success
        {
            border-color: #3c763d;
            background: #dff0d8;
        }
        .alert-message-success b {
            color: #3c763d;
        }		
        .alert-message-warning
        {
            border-color: #f0ad4e;
            background: #fcf8e3;
        }
        .alert-message-warning b {
            color: #f0ad4e;
        }
        .alert-message-danger
        {
            border-color: #d9534f;
            background: #FACACA;
        }
        .alert-message-danger b {
            color: #d9534f;
        }
        .fb {
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }